BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignOperands: true
BraceWrapping:
  AfterFunction: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Stroustrup
BreakConstructorInitializers: BeforeColon
ColumnLimit: 100
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentRequires: true
NamespaceIndentation: None
SortIncludes: true
SpaceBeforeCpp11BracedList: false
